{% extends 'base.html' %}

{% block title %}Create Recipe - FlavaSava{% endblock %}

{% block content %}
    <h2>Create your new recipe</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class= "btn btn-secondary" type="submit">Create Recipe</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}